.auction-details-container {
  justify-self: center;
  align-self: center;
  margin: auto;
  grid-column-start: 2;
  display: grid;
  justify-content: center;
  width: 100%;
  grid-template-columns: 100%;

  input {
    height: 10px;
  }

}

.header {
  color: #FC9A40;
  font-weight: bolder;
  font-size: 25px;
}

.auction-status-info {

}

.form-border {
  justify-self: center;
  min-width: 30%;
}

.price-container {
   height: 50px;
   width: 100px;
   display: grid;
   grid-row-gap: 3px;
 }

.desc-container {
  display: grid;
  grid-row-gap: 3px;
}
.price {
  font-size: 30px;
  text-align: right;
}

.price-input {
  display: grid;
  grid-column-gap: 0;
}

#newPrice{
  width: 70px;
}
