.navbar-container {
  background-color: #1C6EA4;
  overflow: hidden;
  min-height: 70px;

  .navbar-link {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }

  .navbar-link-right {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }

  a:hover{
    color: #45B8AC;
  }

  .icon {
    display: none;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }

  .float-right {
    float: right;
  }
}

@media screen and (max-width: 1370px) {
  .navbar-container a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .navbar-container a.icon {
    float: right;
    display: block;
  }
}


@media screen and (max-width: 1370px) {
  .navbar-container.responsive {position: relative;}
  .navbar-container.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar-container.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
