.navbar-container {
  border-bottom-width: thin;
  background-color: aliceblue;
  min-height: 80px;
}

.navbar-flex {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.navbar-links {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar-link {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-auth {
  width: 200px;
  justify-self: flex-end;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
