.navbar-container {
  border-bottom-width: thin;
  background-color: #1C6EA4;
  min-height: 80px;
  text-decoration-color: white;
}

a {
  text-align: center;
  text-decoration: none;
  font-size: larger;
  color: white;
  padding: 10px;
}

a:hover{
  color: #45B8AC;
}

.navbar-flex {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.navbar-links {
  width: 600px;
  display: inline-flex;
  justify-content: space-between;
}

.navbar-link {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.navbar-auth {
  width: 200px;
  justify-self: flex-end;
  margin: auto;
  display: inline-flex;
  justify-content: space-between;
}
