.auction-container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;
  grid-column: 2;
  display: grid;
  justify-items: center;
  row-gap: 20px;
}


a {
  color: black;
  text-align: center;
  padding: 10px;
}

a:hover{
  color: #4A69FF;
}

.auction-element {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  min-width: 350px;
  height: auto;
  border: 5px solid #1C6EA4;
  border-radius: 20px;
  padding: 20px;
}

.pagination-container{
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
}

.pagination-button {
  font-weight: bold;
  font-size: medium;
  min-width: 60px;
  min-height: 60px;
  border: solid thin #2c3e50 !important;
}
