.auction-form-container {
  margin-bottom: 20px;
  margin-top: 20px;
  align-self: center;
  grid-column: 2;
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-evenly;
}
