.chat-container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  align-self: center;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 20px;
  grid-column: 2;
  height: auto;
  border: 10px inset #1C6EA4;
  min-height: 700px;
  justify-content: center;
  justify-self: center;
  h2 {
    text-align: end;
  }
}


.select-list {
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
}

.select-container {
  width: 100%;
  height: 50px;
  display: grid;

  select{
    text-align-last:right;
    padding-right: 29px;
    direction: rtl;
    height: 50px;
    font-size: 200%;
  }

  option {
    height: 50px;
  }

}


.chat {
  margin-top: 0;
  height: 600px;
  margin-bottom: 10px;
}

.chat-list {
  margin-block-start: 0;
  margin-block-end: 0;
  overflow-y: scroll;
  height: 600px;
  list-style-type: none;
  padding-inline-start: 20px;
}

.chat-form {
  margin-top: 8px;
  height: 50px;
  width: 100%;
  display: grid;
}

.chat-element {
  width: auto;
  margin-top: 10px;
  text-align: left;
  list-style: none;
  margin-right: 20px;

  input[type="text"]
  {
    font-size:24px;
  }
}

.message-text {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  grid-row-gap: 5px;
}

.nick {
  color: #FC9A40;
  font-weight: bold;
  font-size: 25px;
}

.message {
  font-size: 20px;
}

a {
  color: black;
}
